#photos {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    /* Ajuste o tamanho das imagens conforme necessário */
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
}

/* Remover os botões de navegação */
.prev, .next {
    display: none;
}

@media (max-width: 600px) {}