#photos {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 40%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%; /* Ajusta a largura para 100% da área disponível */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: contain; /* Mostra a imagem inteira sem cortar */
    max-height: 80vh; /* Limita a altura máxima da imagem para 80% da altura da viewport */
}

.prev, .next {
    display: none;
}

@media (max-width: 600px) {
    .carousel-item img {
        max-height: 50vh; /* Reduz a altura máxima das imagens em dispositivos móveis */
    }
}