body {
    background-image: url('../assets/fundo.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.form-container input, .form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid darkolivegreen;
    border-radius: 50px;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.form-container input {
    border: 2px solid darkolivegreen;
}

.form-container button {
    background-color: white;
    color: darkolivegreen;
    border: 2px solid darkolivegreen;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.form-container button:hover {
    background-color: darkolivegreen;
    color: white;
}

.form-container button i {
    font-size: 1.5rem;
    color: darkolivegreen;
    margin-right: 10px;
}

.response-options {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.response-options label {
    font-size: 1.2rem;
    color: darkolivegreen;
}

.response-options input {
    margin-right: 10px;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transition: visibility 0s, opacity 0.5s ease, bottom 0.5s ease;
    opacity: 0;
}

.toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 50px; /* Ajusta para melhor visualização em dispositivos móveis */
}

@media (max-width: 600px) {
    .form-container input, .form-container button {
        padding: 8px;
        font-size: 1rem;
    }

    .toast {
        min-width: 200px;
        margin-left: -100px;
        font-size: 15px;
        padding: 12px;
    }
}
