
.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #556B2F; /* Dark Olive Green */
    color: white;
    padding: 12px 20px; /* Aumenta o padding para o toast */
    border-radius: 4px;
    display: none;
    font-size: 1rem; /* Aumenta o tamanho da fonte do toast */
}

.toast.show {
    display: block;
}