body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

.page-title {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 2.5rem; /* Aumenta o tamanho do título */
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px; /* Aumenta o padding para mais espaço interno */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 25px; /* Aumenta o espaço entre os grupos de entrada */
    width: 100%;
}

.input-group label {
    display: block;
    font-size: 1.25rem; /* Aumenta o tamanho da fonte dos rótulos */
    margin-bottom: 5px; /* Adiciona espaço abaixo dos rótulos */
}

input[type="text"] {
    width: 100%;
    padding: 12px; /* Aumenta o padding para um campo de entrada mais espaçoso */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.125rem; /* Aumenta o tamanho da fonte do campo de entrada */
    box-sizing: border-box;
}

.response-options {
    display: flex;
    flex-direction: column; /* Coloca as opções em coluna */
    align-items: center;
    gap: 15px;
    width: 100%;
}

.response-options label {
    display: flex;
    align-items: center;
    font-size: 1.125rem; /* Aumenta o tamanho da fonte das opções */
}


.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #556B2F; /* Dark Olive Green */
    color: white;
    padding: 12px 20px; /* Aumenta o padding para o toast */
    border-radius: 4px;
    display: none;
    font-size: 1rem; /* Aumenta o tamanho da fonte do toast */
}

.toast.show {
    display: block;
}
