.section {
    width: 100%;
    padding: 50px 20px;
    min-height: 100vh; /* Cada seção ocupa a altura total da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9; /* Fundo claro para contraste */
}

.section h2 {
    font-size: 2rem;
    color: darkolivegreen;
}

.buttons-container {
    margin-top: 30px;
}

.button {
    padding: 15px 30px;
    background-color: darkolivegreen;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #556B2F;
}

@media (max-width: 600px) {
    .section {
        padding: 20px;
    }

    .button {
        padding: 10px 20px;
        font-size: 1rem;
    }
}
