/* Estilos do Mapa */
.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporção 16:9 */
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Botões de Localização */
.botoes-local {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap; /* Permite que os botões fiquem em mais de uma linha em telas menores */
    margin-top: 20px;
}

.botoes-local button {
    background-color: #556b2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botoes-local button:hover {
    background-color: #6b8e23;
}

.botoes-local button i {
    font-size: 18px;
}

.botoes-local a.botao-local {
    background-color: #556b2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.botoes-local a.botao-local:hover {
    background-color: #6b8e23;
}

.botoes-local a.botao-local i {
    font-size: 18px;
}


/* Media queries para dispositivos móveis */
@media only screen and (max-width: 768px) {
    .map-container iframe {
        height: 250px; /* Ajusta a altura do mapa para telas menores */
    }

    .botoes-local button {
        font-size: 14px;
        padding: 8px 15px;
    }
}

@media only screen and (max-width: 500px) {
    .map-container iframe {
        height: 200px; /* Ajusta a altura do mapa para telas pequenas */
    }

    .botoes-local button {
        font-size: 12px;
        padding: 6px 10px;
    }
}

@media only screen and (max-width: 400px) {

}
